<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Protobuf</title>
</head>
<body>
<div style="text-align: center">
    <button onclick="send()">点我发送</button>
</div>
</body>
<!--<script src="../static/js/proto/awesome.js" ></script>-->
<script th:src="@{/static/js/proto/awesome.js}"></script>
<!--<script th:src="@{/static/js/proto/kang_msg_type.js}"></script>-->
<!--<script th:src="@{/static/js/proto/kang_msg.js}"></script>-->
<!--<script th:src="@{/static/js/proto/user_msg.js}"></script>-->
<!--<script th:src="@{/static/js/proto/chat_msg.js}"></script>-->
<script type="text/javascript">
    let person = new proto.Person();
    person.setId(234);
    person.setName('老王');

    let kangReqMsg = new proto.KangMsg_pb.KangReqMsg();
    kangReqMsg.setType(proto.KangMsgType_pb.ProtoMsgType.PB_TYPE_CONNECTED);

    let bytes = person.serializeBinary();
    console.log(person);

    let socket = new WebSocket("ws://localhost:8899/ws");
    // let socket = new WebSocket("ws://114.116.175.209:8899/ws");
    socket.onopen = function () {
        console.log('socket开启');
    };
    socket.onclose = function () {
        console.log('socket关闭');
    };
    socket.onmessage = function (event) {
        let reader = new FileReader();
        reader.readAsArrayBuffer(event.data);
        reader.onload = function (ev) {
            console.info(reader.result);
            console.info(proto.Person.deserializeBinary(reader.result));
        }

    };

    function send() {
        if (socket.readyState === WebSocket.OPEN) {
            console.log('发送消息');
            socket.send(person.serializeBinary());
        } else {
            console.log('还没开')
        }
    }
</script>
</html>